<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /app
    
    <Directory "/app">
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted

        FallbackResource /index.php
    </Directory>

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://php-fpm:9000"
    </FilesMatch>

    ErrorLog /proc/self/fd/2
    CustomLog /proc/self/fd/1 combined

    DirectoryIndex index.php index.html
</VirtualHost>